@model Book

<div class="card card-outline-light m-1 p-1" style="background-color: #913f0f;">
    <div class="bg-faded p-1">
        <h3>@Model.Title</h3>
        <p>Author: @Model.AuthorFName @Model.AuthorLName</p>
        <p>Publisher: @Model.Publisher</p>
        <p>ISBN: @Model.ISBN</p>
        <p>Classification: @Model.Classification</p>
        <p>Category: @Model.Category</p>
        <span class="badge badge-pill badge-light" style="float:right">
            <p>Price: $@Model.Price</p>
        </span>
        <p>Number of Pages: @Model.NumPages</p>
    </div>

</div>
